// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/examples/blank-unbranded

// Import colour palette and applied colours so that we can use
// $govuk-body-background-colour in our overrides below.
// 
// If you need to enable compatibility mode or the legacy palette, do that
// *before* these imports.
@import "node_modules/govuk-frontend/settings/colours-palette";
@import "node_modules/govuk-frontend/settings/colours-applied";

// Style links and paragraphs by default
$govuk-global-styles: true;

// Override the govuk-frontend font stack
//$govuk-font-family: "Sofia", "SofiaRegular", "Arial", "Helvetica", sans-serif;

// Override the canvas background colour, which is normally grey to blend with
// the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;


@import "patterns/seedrs-slick-carousel";


// these extra cells are hidden on narrower screens, it's a bit of a cheat as it's responsive content, not layout
@media screen and (max-width: 1183px) {

  .extra-cell {
    display: none;
  }
}


// Add some additional grid rules for wider monitors, to cover the 1024 > 1280 > 1340 > 1680 space
@media screen and (min-width: 1184px) {

  .govuk-width-container {
    max-width: 1280px !important;
  }
  .gov-grid-column-full {
    max-width: 960px;
    float: left;
  }
  .extra-cell {
    margin-left: 24px;
    display: inline-block;
    float: left;
    width: 100%;
  }
}



//some colours to use as $ ... move out into a colours doc at some point

$table-header: #005994;
$action-green: #009419;
$link-blue: #1D8FFF; //dodget blue / base





@import "node_modules/govuk-frontend/all";


@font-face {
  font-family: 'SofiaNumbers';
  src: url('sofianumbers-webfont.eot'); /* IE9 Compat Modes */
  src: url('sofianumbers-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('sofianumbers-webfont.woff') format('woff'),
       url('sofianumbers-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('sofianumbers-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'SofiaNumbersLight';
  src: url('sofia_numbers_light-webfont.eot'); /* IE9 Compat Modes */
  src: url('sofia_numbers_light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('sofia_numbers_light-webfont.woff') format('woff'),
       url('sofia_numbers_light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('sofia_numbers_light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}


@font-face {
  font-family: 'SofiaBold';
   src: url('sofia_pro_bold-webfont.eot'); /* IE9 Compat Modes */
   src: url('sofia_pro_bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('sofia_pro_bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('sofia_pro_bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'SofiaSemiBold';

   src: url('sofia_pro_semi_bold-webfont.eot'); /* IE9 Compat Modes */
   src: url('sofia_pro_semi_bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('sofia_pro_semi_bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('sofia_pro_semi_bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'SofiaRegular';
   src: url('sofia_pro_regular-webfont.eot'); /* IE9 Compat Modes */
   src: url('sofia_pro_regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('sofia_pro_regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('sofia_pro_regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'SofiaLight';
   src: url('sofia_pro_light-webfont.eot'); /* IE9 Compat Modes */
   src: url('sofia_pro_light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('sofia_pro_light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('sofia_pro_light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'SofiaUltraLight';
   src: url('sofia_pro_ultra_light-webfont.eot'); /* IE9 Compat Modes */
   src: url('sofia_pro_ultra_light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('sofia_pro_ultra_light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('sofia_pro_ultra_light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}

.numbers {
  font-family: 'SofiaNumbers', sans-serif;
}

.sofiaulight {
  font-family: 'SofiaUltraLight', sans-serif;
}

.sofialight {
  font-family: 'SofiaLight', sans-serif;
}

.sofiabold {
  font-family: 'SofiaBold', sans-serif;
}

p.sofiasemibold {
  font-family: 'SofiaSemiBold', sans-serif;
  margin-top: -0.18em;
  margin-bottom: 1.22em;
}

p, a, .sofia {
  font-family: 'SofiaRegular', sans-serif;
}

// default to no underline, add them if it's in an isolated position or unclear
a, a:link {
  text-decoration: none;
  color: $link-blue;
}




.highlighted {
	background-color: rgba(255,255,166,0.75);
}
.pennies-testpage {
	font-size: 50px;
}


.govuk-heading-xl {
	font-size: 72px;
	font-family: 'SofiaUltraLight', sans-serif;
}
@media screen and (max-width: 768px) {
  .govuk-heading-xl {
  font-size: 56px;
  }
}
@media screen and (min-width: 769px) {
.long-fix {
  width: 900px;
  overflow: visible;
  }
}

.govuk-heading-l {
  font-size: 48px;
  font-family: 'SofiaUltraLight', sans-serif;
}

.govuk-heading-m {
  font-size: 36px;
  font-family: 'SofiaBold', sans-serif;
  line-height: 32px;
  position: relative;
  top:0.2em; //add to the fontsize = a multiple of the 8/16 baseline grid
}

.govuk-heading-s {
  font-size: 24px;
  font-family: 'SofiaSemiBold', sans-serif;
  line-height: 32px;
  position: relative;
  top:0.2em; //add to the fontsize = a multiple of the 8/16 baseline grid
}


/* map all the gov headings to a more Seedrs one! */
.heading-xl {
  @extend .govuk-heading-xl;
}
.heading-l {
  @extend .govuk-heading-l;
}

.heading-m {
  @extend .govuk-heading-m;
}

.heading-s {
  @extend .govuk-heading-s;
}




p {
  margin: 0 0 1em 0;
  padding: 0 0 0 0;
}

p.para-l {
  font-size: 24px;
  line-height: 32px;
  position: relative;
  top:6px;
}
p.para-m {
  font-size: 18px;
  line-height: 1.34;
  position: relative;
  top:3px;
}
p.para-s {
  font-size: 14px;
  line-height: 1.75;
  position: relative;
  top:2px;
}



// I use this to line up the baselines
// best used in descrete chunks not the whole page
// as it's probably impossible to make all the 
// bits fit together exactly

.striped, .pangram-block {
  background: linear-gradient(
  to bottom,
  #fcc,
  #fcc 50%,
  #fff 50%,
  #fff
  );
  /* The rectangle in which to repeat. 
   It can be fully wide in this case */
  background-size: 100% 16px;
}





.share-table {
position: relative;
top: 0.72em;
//border-top:1px solid #666;
}
.share-table table {
  border-spacing: 0;
  padding:0;
}

.share-table th {
  font-family: 'SofiaRegular', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $table-header;
  text-align: left;
  padding: 0.85em 0 0.55em 0;
}

.share-table td {
  padding:0;
  font-family: 'SofiaNumbers', sans-serif;
  font-size: 18px;
  color: #333;
  text-align: left;
  padding: 0.85em 0 0.55em 0;
  max-height: 48px;
  overflow: hidden;
}
.share-table td.name {
  padding-left: 16px;
  font-family: 'SofiaRegular', sans-serif;
}
.updates-heading-blob {
  color: white;
  background-color: $table-header;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  line-height: 1.25;
  font-size: 12px;
  position: relative;
  top:-5px;
}
.updates-heading-label {
  font-size: 14px
}
.update-blob {
  color: white;
  background-color: #d33;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  line-height: 1.25;
  font-size: 12px;
  position: relative;
  top:-5px;
  left:3px;
}

th.numeric, td.numeric {
  text-align: right;
}



// the buy sell cancel buttons on the portfolio table
.buy-button {
  border-radius: 6px;
  border:2px solid blue;
  height:20px;
  width:20px;
  float:left;
}

.sell-button {
  border-radius: 6px;
  border:2px solid green;
  height:20px;
  width:20px;
  float: left;
}



// fixed widths for the table columns, to start with
$tablecol: 24px;

@media (min-width: 769px) {
  th.col8 {width: $tablecol * 8}
  th.col7 {width: $tablecol * 7}
  th.col6 {width: $tablecol * 6}
  th.col5 {width: $tablecol * 5}
  th.col4 {width: $tablecol * 4}
  th.col3 {width: $tablecol * 3}
  th.col2 {width: $tablecol * 2}
  th.col1 {width: $tablecol * 1}
  th.colgap, td.colgap {margin-right: $tablecol * 1}
}

.table-title  {
  display: inline-block;
  float: left;
  width: $tablecol * 7;
}
.table-tools {
  position: relative;
  top:15px;
}
.table-tools span {
  float: left;
  font-family: 'SofiaSemiBold', sans-serif;
  width: $tablecol * 2;
  padding-left: 18px
}
.table-sort {
  background-image: url('/public/images/sort-icon.svg');
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 0 6px;
}
.table-filter {
  background-image: url('/public/images/filter-icon.svg');
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 0 6px;
}


.table-title-block:after {
  content: "";
  display: table;
  clear: both;
}

.moves {

  .active {border-bottom: 3px solid $table-header;color: $table-header;}

  a { font-size:14px;text-transform:uppercase;text-decoration: none;color: $link-blue;font-weight: 600;margin-left: 0.5em; }
  a:hover {text-decoration: underline;color: $table-header;}
}





div.menuburger {
  width: 30px;
  position: relative;
  top: 0.31rem;
  border: none;
  background: none;
  background-image: url('/public/images/three-lines-arrow.svg');
  background-repeat: no-repeat;
  background-size: 1.15rem;
  background-position: 0.555rem 0.0rem;
}
div.menuburger label {
  visibility: hidden ;
}



// user page layout things

.header-cells-container {
}
.header-cell {
  margin-right: 24px;
  float:left;
  width: 216px;
  //display: block;
  position: relative;
  top:-4px;
  height: 112px;
  overflow: hidden;
}

.last-cell {
  margin-right: 0;
}
.header-cells-container:after {
  content: "";
  display: table;
  clear: both;
}
.header-cell p {
  margin-top: -1px;
}
.header-number {
  font-family: 'SofiaLight', sans-serif;
  font-size: 48px;
  color: #333;
  text-align: left;
  display: block;
  margin-top: -3px;
  margin-bottom: -5px;
  max-width: 8ch;
  overflow: hidden;
}

.header-number .pennies {
  position: relative;
  top:-16px;
  opacity: 0.66;
  font-size: 50%;
}
a.explain-blob {
  color: white;
  font-weight: 600;
  background-color: $link-blue;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  line-height: 1.3;
  font-size: 14px;
  position: relative;
  left:8px;
}




// some responsive utilites, hiding things on mob/bigger

@media screen and (max-width: 768px) {
.hide-mobile {
  display: none;
  }
}
@media (min-width: 769px) {
.hide-desktop {
  display: none;
  }
}

// do some responsive work to hide certain portfolio columns at breakpoints
//
// these are the column names

// share-table-name         --keep
// share-table-invested     --keep
// share-table-shares       --lose
// share-table-moves        --lose
// share-table-valuation    --lose
// share-table-value        --keep
// share-table-actions      --keep
// share-table-buysell      --merge with actions

@media screen and (max-width: 768px) {
  table {width:366px;}
  div.menuburger {top:0.1rem;}
  table, th, td {font-size: 16px !important;}
  .update-blob {display: none;}
  .share-table {position:relative;left: -16px;}
  .share-table table {position: relative;top:-5px;}
  .striped {background-position: 0 -3px;}
  th {line-height: 1.2;}
  td {line-height: 1.2;}
  th.share-table-name {padding-left:16px;}
  th.share-table-invested, td.share-table-invested {padding-right:16px;}
  .pennies {display: none;}


  th.col1, td.col1, 
  th.share-table-shares, td.share-table-shares, 
  th.share-table-moves, td.share-table-moves, 
  th.share-table-valuation, td.share-table-valuation, 
  th.share-table-buysell, td.share-table-buysell {display: none;}
}


// quick table for all the coloured blocks of each of the example companies logos and colours
// could probably do this with a single svg on the sibling class and just change the colour 
// but I couldn;t get that to work in a sensible amount of time
@media screen and (max-width: 768px) {
  td[class*="company"] {
    background-position: 0 -3px;
  }
}
@media screen and (min-width: 769px) {
  td[class*="company"] {
    background-position: 0 2px;
  }
}

.company-igloo {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='48px' fill='hotpink' viewBox='0 0 20 48'%3E%3Crect y='16' width='8' height='16'/%3E%3C/svg%3E");
}
.company-abund {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='48px' fill='pink' viewBox='0 0 20 48'%3E%3Crect y='16' width='8' height='16'/%3E%3C/svg%3E"); 
}
.company-macre {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='48px' fill='red' viewBox='0 0 20 48'%3E%3Crect y='16' width='8' height='16'/%3E%3C/svg%3E"); 
}
.company-den {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='48px' fill='aqua' viewBox='0 0 20 48'%3E%3Crect y='16' width='8' height='16'/%3E%3C/svg%3E"); 
}
.company-revol {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='48px' fill='%2300a0e1' viewBox='0 0 20 48'%3E%3Crect y='16' width='8' height='16'/%3E%3C/svg%3E"); 
}
.company-aduna {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='48px' fill='orange' viewBox='0 0 20 48'%3E%3Crect y='16' width='8' height='16'/%3E%3C/svg%3E"); 
}
.company-evento {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='48px' fill='blue' viewBox='0 0 20 48'%3E%3Crect y='16' width='8' height='16'/%3E%3C/svg%3E"); 
}
.company-fecana {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='48px' fill='turquoise' viewBox='0 0 20 48'%3E%3Crect y='16' width='8' height='16'/%3E%3C/svg%3E"); 
}
.company-binfit {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='48px' fill='%23333333' viewBox='0 0 20 48'%3E%3Crect y='16' width='8' height='16'/%3E%3C/svg%3E"); 
}
.company-storter {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='48px' fill='%23ff6600' viewBox='0 0 20 48'%3E%3Crect y='16' width='8' height='16'/%3E%3C/svg%3E"); 
}
.company-huufe {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='48px' fill='%233366ff' viewBox='0 0 20 48'%3E%3Crect y='16' width='8' height='16'/%3E%3C/svg%3E"); 
}
.company-helpeep {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='48px' fill='%23ffcc00' viewBox='0 0 20 48'%3E%3Crect y='16' width='8' height='16'/%3E%3C/svg%3E"); 
}
.company-jaja {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='48px' fill='black' viewBox='0 0 20 48'%3E%3Crect y='16' width='8' height='16'/%3E%3C/svg%3E"); 
}
.company-desklod {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='48px' fill='%2366ccff' viewBox='0 0 20 48'%3E%3Crect y='16' width='8' height='16'/%3E%3C/svg%3E"); 
}
.company-tickr {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='48px' fill='%23ff9999' viewBox='0 0 20 48'%3E%3Crect y='16' width='8' height='16'/%3E%3C/svg%3E"); 
}
.company-ripple {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='48px' fill='%23ff9999' viewBox='0 0 20 48'%3E%3Crect y='16' width='8' height='16'/%3E%3C/svg%3E"); 
}
.company-cuckooz {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='48px' fill='%23444444' viewBox='0 0 20 48'%3E%3Crect y='16' width='8' height='16'/%3E%3C/svg%3E"); 
}




// try and style some D3 charting
// 

#user-data-chart {
  line {
    stroke: none;
  }

  .domain {
    stroke: none;
  }

  text {
  font-size: 12px;
  font-family: 'SofiaNumbers', sans-serif;
  }
}




// campaign card

.campaign-card {
  font-family: 'SofiaRegular', sans-serif;
  width: 320px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.33);
  box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.33);
}



.campaign-card-image {
  background-repeat: no-repeat;
  background-size: 100%;
  height:240px;
  border-radius: 8px 8px 0 0;
}
.campaign-card-tagline {
  background-color: rgba(0,0,0,0.4);
  color: white;
  text-align: center;
  font-size: 14px;
  height: 36px;
  border-radius: 8px 8px 0 0;
  line-height: 2.6;
}
.campaign-card-icon {
  background-color: teal;
  height: 63px;
  width: 63px;
  position: relative;
  top:164px;
  left:16px;
  color: white;
  text-align:center;
  vertical-align: bottom;
  display: table-cell;
}

.campaign-card-flag {
  font-size: 12px;
  text-align: right;
  background-image: url('/public/images/flag-uk.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 24px;
  height: 24px;
  

  span {
    position: relative;
    top:6px;
    right: 28px;
  }
}

.campaign-card-content {
padding: 0 0 0 15px;
background-color: white;
  
  h2 {
    padding: 8px 0 0 0;
    margin: 0;
  }

  p {
    padding: 0;
    margin: 0;
  }

}

.campaign-card-numbers {
background-color: #e5f3f7;
padding: 10px 0 6px 0;
  div {
    font-size: 12px;
    text-transform: uppercase;
    width: 33%;
    float:left;
    text-align: center;
  }
  span {
    font-size: 16px;
  }
}

.campaign-card-numbers:after {
  content: "";
  display: table;
  clear: both;
}

.campaign-card-countdown {
  font-size: 11px;
  text-align: center;
  display: block;
  width: 100%;
  background-color: #99d4ea;
  padding: 4px 0 2px 0;
}

.campaign-card-action {
  text-align: center;
  background-color: #9ce53d;
  border-radius: 0 0 8px 8px;
  text-transform: uppercase;
  line-height: 2.5;
  height: 36px;
}


#felcana {
  background-image: url('/public/images/cardimg-felcana.jpg');



}



// Slick carousel styles 

.slider {
  width: 100%;
}

.slick-slide {
  margin: 0px 20px;
  height: 300px;
  display: block;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .1s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}




.slider div {
  background-color: #666;
}



