
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Seedrs Design - using Sofia Pro with numbers
{% endblock %}

{% block content %}



<div class="campaign-card">

  <div class="campaign-card-image" id="felcana">
    &nbsp;
  </div>

  <div class="campaign-card-tagline">
    Intelligent pet care
  </div>


  <div class="campaign-card-icon">
    icon
  </div>

  <div class="campaign-card-flag">
    <span>United Kingdom</span>
  </div>

  <div class="campaign-card-content">
    <h2>
      Felcana
    </h2>

    <p>Felcana is the Digital Pet Health Platform that provides digital health services to pet owners and vets.</p>

  </div>

  <br clear="all">

  <div class="campaign-card-numbers">
    <div>
      Equity<br>
      <span>16.99%</span>
    </div>
    <div>
      Investment<br>
      <span>€700,003</span>
    </div>
    <div>
      Investors<br>
      <span>174</span>
    </div>
  </div>

  <div class="campaign-card-countdown">20 days to go - 69% funded</div>

  <div class="campaign-card-action">
    view pitch
  </div>
  








</div>





<div id="folder">
  <input type="checkbox" id="toggle"/> <label for="toggle" id="toggle-label">fold/unfold</label>
        
  <div class="fold">
    Element 1
   </div>
   <div class="fold">
    Element 2
   </div>
   <div class="fold">
    Element 3
   </div>
   <div class="fold">
    Element 4
   </div>
   <div class="fold">
    Element 5
   </div>
</div>


{% endblock %}
