
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Seedrs Design - Pitch campaign card
{% endblock %}

{% block content %}




<div class="campaign-card">

  <div class="card-a fold">
    <div class="campaign-card-image" id="felcana">
      <div class="campaign-card-tagline">
        Intelligent pet care
      </div>


      <div class="campaign-card-icon">
        icon
      </div>
    </div>

    <div class="campaign-card-flag">
      <span>United Kingdom</span>
    </div>

  </div>

  
  <div class="campaign-card-content card-b fold">

    <h2>
      Felcana
    </h2>

    <p>Felcana is the Digital Pet Health Platform that provides digital health services to pet owners and vets.</p>

  </div>


  <div class="card-c fold">
    <div class="campaign-card-numbers ">
      <div>
        Equity<br>
        <span>16.99%</span>
      </div>
      <div>
        Investment<br>
        <span>€700,003</span>
      </div>
      <div>
        Investors<br>
        <span>174</span>
      </div>
    </div>

    <div class="campaign-card-countdown">20 days to go - 69% funded</div>

    <div class="campaign-card-action">
      view pitch
    </div>
  </div>








</div>






{% endblock %}
