
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Seedrs Design - Discovery pages
{% endblock %}

{% block content %}


<h1 class="govuk-heading-xl">Discovery sketches</h1>

<a href="/public/images/discovery-01.png"><img src="/public/images/discovery-01.png" width="600px"></a>

<br>


<a href="/public/images/discovery-02.png"><img src="/public/images/discovery-02.png" width="600px"></a>

<br>



<a href="/public/images/discovery-03.png"><img src="/public/images/discovery-03.png" width="600px"></a>

<br>






{% endblock %}
