
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Seedrs Design - homepage
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/public/stylesheets/slick.css">



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <section>
      <h2 class="heading-s">How it works</h2>

      <div id="about-carousel" class="slider about-slick">
        <div style="background-color: #25a4fe;">

          <center>
            <h3 class="heading-s" style="margin-top:0.5em;color:white;text-align: center;max-width: 70%">Lots of different people can invest in...</h3>

          
            <img src="/public/images/people-circle.png" style="width:90%;margin-top:2em">
          </center>
         

        </div>
        <div style="background-color: #008bfd">

          <center>
            <h3 class="heading-s" style="margin-top:0.5em;color:white;text-align: center;max-width: 70%">...lots of different businesses.</h3>

            <img src="/public/images/company-circle.png" style="width:40%;margin-top:2em">
          </center>

        </div>
        <div style="background-color: #007fe4">
          <center>
            <h3 class="heading-s" style="margin-top:0.5em;color:white;text-align: center;max-width: 70%">Where they can become ordinary shareholders...</h3>

            <img src="/public/images/company-circle.png" style="width:40%;margin-top:2em">
          </center>
        </div>
        <div style="background-color: #0070ca">
          <center>
            <h3 class="heading-s" style="margin-top:0.5em;color:white;text-align: center;max-width: 70%">...and share in future success.</h3>

            <img src="/public/images/company-circle.png" style="width:40%;margin-top:2em">
          </center>
        </div>
        <div style="background-color: #0053a3">
          <center>
            <h3 class="heading-s" style="margin-top:0.5em;color:white;text-align: center;max-width: 70%">With Seedrs you get robust shareholder rights...</h3>

            <img src="/public/images/company-circle.png" style="width:40%;margin-top:2em">
          </center>
        </div>
        <div style="background-color: #004093">
          <center>
            <h3 class="heading-s" style="margin-top:0.5em;color:white;text-align: center;max-width: 70%">...and can participate in share sales in the secondary market.</h3>

            <img src="/public/images/company-circle.png" style="width:40%;margin-top:2em">
          </center>
        </div>
       
      </div>

    </section>

   







    <section>
      <h2 class="govuk-heading-s">Show me the money</h2>

      <div id="calc-carousel" class="slider calc-slick">
        <div style="background-color: #ffc021">
          <center>
            <h3 class="heading-s" style="margin-top:0.5em;color:white;text-align: center;max-width: 90%">Investments may benefit from UK Government support* in the form of tax relief</h3>

            <div id="country-disclaim">*UK taxpayers only, sorry</div>


          </center>
        </div>
        <div style="background-color: #ffab00">
          <center>
            <h3 class="heading-s" style="margin-top:0.5em;color:white;text-align: center;max-width: 79%">let's see an example:<br><span style="color:#036">enter your investment</span></h3>

            <img src="/public/images/calc-01.svg" class="hide-desktop" style="width: 57%;margin-top:0;">

            <img src="/public/images/calc-01.svg" class="hide-mobile" style="width: 50%;margin-top:0">

            
          </center>
        </div>
        <div style="background-color: #eb9e00">
          <center>
            <h3 class="heading-s" style="margin-top:0.5em;color:white;text-align: center;max-width: 79%">the highest tax band you pay </h3>

            <img src="/public/images/company-circle.png" style="width:40%;margin-top:2em">
          </center>
        </div>
        <div style="background-color: #d99100">
          <center>
            <h3 class="heading-s" style="margin-top:0.5em;color:white;text-align: center;max-width: 79%">...and can participate in share sales in the secondary market.</h3>

            <img src="/public/images/company-circle.png" style="width:40%;margin-top:2em">
          </center>
        </div>
        <div style="background-color: #cf8723">
          <center>
            <h3 class="heading-s" style="margin-top:0.5em;color:white;text-align: center;max-width: 79%">...and can participate in share sales in the secondary market.</h3>

            <img src="/public/images/company-circle.png" style="width:40%;margin-top:2em">
          </center>
        </div>
        <div style="background-color: #cf7723">
          <center>
            <h3 class="heading-s" style="margin-top:0.5em;color:white;text-align: center;max-width: 79%">...and can participate in share sales in the secondary market.</h3>

            <img src="/public/images/company-circle.png" style="width:40%;margin-top:2em">
          </center>
        </div>


        
      </div>

    </section>


  </div>
</div>


{% endblock %}
