
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Seedrs Design - homepage
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/public/stylesheets/slick.css">
<link rel="stylesheet" type="text/css" href="/public/stylesheets/slick-theme-seedrs.css">



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <section>
      <h2 class="heading-m">How it works</h2>

      <div id="about-carousel" class="slider single-item">
        <div style="background-color: cyan">
          <h3 class="govuk-heading-s">1</h3>
          <p>here's some filler text to try and expand the height of the unit.</p>

          <p>here's some filler text to try and expand the height of the unit.</p>

          <p>here's some filler text to try and expand the height of the unit.</p>

          <p>here's some filler text to try and expand the height of the unit.</p>
        </div>
        <div>
          <h3 class="heading-s">2</h3>
        </div>
        <div>
          <h3 class="heading-s">3</h3>
        </div>
        <div>
          <h3 class="heading-s">4</h3>
        </div>
        <div>
          <h3 class="heading-s">5</h3>
        </div>
       
      </div>

    </section>


    <section>
      <h2 class="govuk-heading-m">Show me the money</h2>

      <div id="about-carousel" class="slider single-item">
        <div style="background-color: cyan">
          <h3>1</h3>
        </div>
        <div>
          <h3>2</h3>
        </div>
        <div>
          <h3>3</h3>
        </div>
        <div>
          <h3>4</h3>
        </div>
        <div>
          <h3>5</h3>
        </div>
        
      </div>

    </section>


  </div>
</div>


{% endblock %}
