
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Seedrs Design - homepage
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/public/stylesheets/slick.css">



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <section>
      <h2 class="heading-s">How it works</h2>

      <div id="about-carousel" class="slider about-slick">

       


        <div style="background-color: #57a6f8;" id="about-slide-01">

       
          <div class="hide-mobile" style="width: 600px;padding: 1em;text-align: center;">
            
            <h3 class="sofiasoft-headline">Lots of different people<br>can invest in... </h3>

            <img src="public/images/people-circle.png" style="width:400px;padding-top: 10px">

          </div>
           

        </div>



        <div style="background-color: #4593ec" id="about-slide-02">

          <div class="hide-mobile" style="width: 450px;padding: 1em;text-align: center;">
            
            <h3 class="sofiasoft-headline">...lots of different types of small businesses</h3>

            <img src="public/images/company-circle.png" style="width:230px;padding-top: 30px">

          </div>
            
        </div>


        <div style="background-color: #3281db" id="about-slide-03">

          <div class="hide-mobile" style="width: 480px;padding: 1em;text-align: center;">
            
            <h3 class="sofiasoft-headline" style="color:white;">They can become shareholders and share in future success.</h3>

            <img src="public/images/celebrate-people.png" style="width:375px;padding-top: 20px">

          </div>
            
        </div>



        <div style="background-color: #1864ba" id="about-slide-04">

          <div class="hide-mobile" id="seedr-desk-slide-04">

            <h3 class="sofiasoft-headline" style="text-align:left;width: 440px">With Seedrs you benefit from robust shareholder rights...</h3>

            <ul class="slide-bullets">
              <li>protection against dilution from future investors</li>
              <li>better terms in an exit, merger or other event</li>
              <li>drag-along, tag-along, pre-emption, and more</li>
            </ul>

            <br>

          
          </div>
            
        </div>




        <div style="background-color: #0c4e96" id="about-slide-05">

          <div class="hide-mobile" id="seedr-desk-slide-05">
            
            <h3 class="sofiasoft-headline" style="text-align:left;width: 440px">...and participate in share sales in the secondary market.</h3>
          </div>
            
        </div>




        <div style="background-color: #0b4086" id="about-slide-06">

          <div class="hide-mobile" id="seedr-desk-slide-06">
            
            <h3 class="sofiasoft-headline" style="text-align:left;width: 440px">For bigger investors, you can even invest directly</h3>

            <p style="color: #3fc;text-align: left;position: absolute;bottom:-15px">* Minimum &pound;10,000 investment</p>


          </div>
            
        </div>


       
      </div>

    </section>

   







  </div>
</div>


{% endblock %}
