
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Seedrs Design - homepage
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/public/stylesheets/slick.css">
<link rel="stylesheet" type="text/css" href="/public/stylesheets/slick-theme-seedrs.css">

<h1 class="heading-xl">Homepage sketches</h1>

<p>Building a <a href="homepage-01">little prototype here</a></p>


<a href="/public/images/homepage-01.png"><img src="/public/images/homepage-01.png" width="800px"></a>







{% endblock %}
