
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Seedrs Design - homepage
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/public/stylesheets/slick.css">



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <section class="hide-mobile">
      <h2 class="heading-m">How it works</h2>

      <div id="about-carousel" class="slider about-slick">

        <div id="about-slide-01">

          <div id="seedr-desk-slide-01">
            
            <h3 class="sofiasoft-headline">Lots of different people<br>can invest in... </h3>

          </div>
           

        </div>



        <div id="about-slide-02">

          <div id="seedr-desk-slide-02">
            
            <h3 class="sofiasoft-headline">...lots of different types of small businesses</h3>

          </div>
            
        </div>


        <div id="about-slide-03">

          <div id="seedr-desk-slide-03">
            
            <h3 class="sofiasoft-headline" style="color:white;">They can become shareholders and share in future success.</h3>

          </div>
            
        </div>



        <div id="about-slide-04">

          <div id="seedr-desk-slide-04">

            <h3 class="sofiasoft-headline" style="text-align:left;width: 440px">With Seedrs you benefit from robust shareholder rights...</h3>

            <ul class="slide-bullets">
              <li>protection against dilution from future investors</li>
              <li>better terms in an exit, merger or other event</li>
              <li>drag-along, tag-along, pre-emption, and more</li>
            </ul>

          </div>
            
        </div>




        <div id="about-slide-05">

          <div id="seedr-desk-slide-05">
            
            <h3 class="sofiasoft-headline" style="text-align:left;width: 440px">...and participate in share sales in the secondary market.</h3>
          </div>
            
        </div>




        <div id="about-slide-06">

          <div id="seedr-desk-slide-06">
            
            <h3 class="sofiasoft-headline" style="text-align:left;width: 440px">For bigger investors, you can even invest directly</h3>

            <p style="color: #3fc;text-align: left;position: absolute;bottom:-15px">* Minimum &pound;10,000 investment</p>

          </div>
            
        </div>


       
      </div>

    </section>








    <section class="hide-mobile">
      <h2 class="heading-m">By the numbers</h2>

      <div id="calc-carousel" class="slider calc-slick">

        <div id="calc-slide-01">

          <div id="calc-desk-slide-01">
            
            <h3 class="sofiasoft-headline" style="max-width: 400px">Investments may benefit from UK Government support* in the form of tax relief...</h3>

             <p style="width:510px;color: #440;text-align: right;position: absolute;bottom:-15px">Let's see an example:</p>

          </div>
           

        </div>



        <div id="calc-slide-02">

          <div id="calc-desk-slide-02">
            
            <h3 class="sofiasoft-headline">Your investment</h3>

            <img src="/public/images/calc-01.svg" style="width: 180px;position: relative;top:20px">

          </div>
            
        </div>


        <div id="calc-slide-03">

          <div id="calc-desk-slide-03">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="">
                  <h3 class="sofiasoft-headline">
                    The highest tax<br>band you pay
                  </h3>
                </legend>

                
                <div class="govuk-radios govuk-radios" style="margin-top: 1.5em">
                    <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="tax45" type="radio" name="taxrate" value="false" >
                    <label class="govuk-label govuk-radios__label" for="tax45">45% (additional rate)</label>
                  </div>
               
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="tax40" type="radio" name="taxrate" value="false" >
                    <label class="govuk-label govuk-radios__label" for="tax40">40% (higher rate)</label>
                  </div>
                
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="tax20" type="radio" name="taxrate" value="false" >
                    <label class="govuk-label govuk-radios__label" for="tax20">20% (basic rate)</label>
                  </div>
               
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="taxno" type="radio" name="taxrate" value="false" >
                    <label class="govuk-label govuk-radios__label" for="taxno">0% (I don't pay tax)</label>
                  </div>
                </div>
                
              </fieldset>

            </div>

          </div>
            
        </div>



        <div id="calc-slide-04">

          <div id="calc-desk-slide-04">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="">
                  <h3 class="sofiasoft-headline">
                    Likely performance<br>over 3 years...
                  </h3>
                </legend>

                
                <div class="govuk-radios govuk-radios" style="margin-top: 1.5em">
                    <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="3x" type="radio" name="performance" value="true" >
                    <label class="govuk-label govuk-radios__label" for="3x">3x increase</label>
                  </div>
               
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="2x" type="radio" name="performance" value="false" >
                    <label class="govuk-label govuk-radios__label" for="2x">2x doubles</label>
                  </div>
                
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="1x" type="radio" name="performance" value="false" >
                    <label class="govuk-label govuk-radios__label" for="1x">1x (no growth)</label>
                  </div>
               
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="fails" type="radio" name="performance" value="false" >
                    <label class="govuk-label govuk-radios__label" for="fails">business fails</label>
                  </div>
                </div>
                
              </fieldset>

            </div>

          </div>
            
        </div>


        <div id="calc-slide-05">

          <div id="calc-desk-slide-05">
            
            <h3 class="sofiasoft-headline">Example investment</h3>

            <table style="margin-top:2em">
              <tr>
                <td class="example-label">Your investment</td>
                <td><span class="example-answer">&pound;6,000</span></td>
              </tr>
              <tr>
                <td class="example-label">3x value</td>
                <td><span class="example-answer">&pound;24,000</span></td>
              </tr>
              <tr>
                <td class="example-label">EIS tax relief</td>
                <td><span class="example-answer">&pound;1,800</span></td>
              </tr>
              <tr>
                <td class="example-label" valign="top">Capital gains tax</td>
                <td><span class="example-answer">&pound;None</span>
                  <br>
                <span class="example-label">(&pound;3,600 avoided)</span>
                </td>
              </tr>
              <tr>
                <td class="example-label">Total return</td><td><span class="example-answer">&pound;33,800</span></td>
              </tr>
            </table>

            </div>



            

          </div>
            
        </div>




      </div>
    </section>









  </div>
</div>


{% endblock %}
