{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Seedrs Design - prototype kit
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl long-fix" >
        Seedrs Prototype Kit
        <span class="govuk-caption-xl"></span>
      </h1>
      
      <h3 class="govuk-heading-s">Payment flows</h3>

      <p>Clickable flows are here: <a href="https://seedrs-payment-flows.netlify.com/">seedrs-payment-flows.netlify.com</a></p>

      <p>PDF of those flows is here:</p>

      <a href="/public/images/payment-flows.pdf"><img src="/public/images/payment-flows.png" height="100"></a>

      <h3 class="govuk-heading-s">Pages</h3>

      <p>1. <a href="sofiapro">Setting out Sofia Pro</a> on a baseline grid</p>

      <p>2. Custom build of a <a href="sofiapro-numbers">Sofia Numbers font</a> for use in tabular layouts</p>

      <p>3. Initial layout of a <a href="portfolio">complex portfolio table</a>, scales down to 960px, suitable for use on a tablet and smaller monitors - and <a href="portfolio-gridded">with visible baseline grid</a>. On a mobile, it drops many of the columns, as well as pennies from the &pound;numbers.</p>

      <p>4. <a href="infographics">Some sketches for infographics</a> exploring better ways to show the illiquid share price, with values (profit, or losses) mapped to financial events and mapping multiple (portfolio) companies values</p>

      <p>5. <a href="discovery">Some sketches for Discovery</a>, in the style of curated sub-indexes - see Apple iOS App store for similar</p>

      <p>6. Quick mockup of a #hashtag or theme <a href="landingpage">landing page ... beer</a></p>

      <p><strong>7. <a href="homepage">New Homepage</a></strong></p>

      <p>Let's make a new homepage, including an interactive explainer, integrating 'How it works' and a calculator for EIS.</p>

      <p>Sketches <a href="homepage">are here</a>, homepage <a href="homepage-02">html version</a> one is here.</p>

      <p><strong>8. <a href="pricing">Dynamic pricing</a></strong></p>

      <p>Introducing dynamic pricing to the secondary market has implications of supply drying up for buyers because of unrealistic pricing set by sellers.</p>

      <p>This page explores ways in which we can mitigate that and advise on sensible prices, and assist buyers to spot markets with oppotunities.</p>

      <p>9. <a href="marketlist">Sketches for business list</a> - with dynamic pricing 'market action' device  </p>

      <p>10. <a href="cardflip">Purchase card flip</a> - exploring muti-route, and possibly multistep share purchasing on a campaign page (or other) </p>


      <h3 class="govuk-heading-s">About this page</h3>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>

      <p>You can change the service name by editing the file '/app/config.js'.</p>

      <h3 class="govuk-heading-s">Examples and documentation</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
