
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Seedrs Design - Business list, market list
{% endblock %}

{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="">

        <div class="table-title-block" id="portfolio-title-block">

          <h2 class="govuk-heading-m table-title" style="position: relative;left:-2px;">
            Businesses
          </h2>

          <br clear="all">

          <p style="max-width: 66%">Complete list of businesses active on Seedrs market, most of which can be traded. You can place a buy or sell order, and it can be matched in the days before the monthly market opens.</p>

          <div class="table-tools">
            <span class="table-sort">Sort</span>

            <span class="table-filter">Filter</span>
          </div>

        </div>
        <!-- end table header block -->

        <div class="share-table">
          <table class="marketlist">
            <thead>
              <th class="share-table-name" valign="bottom">Investments</th>

              <th class="numeric" valign="bottom">Valuation</th>

              <th colspan="2" class="col7 share-table-moves" valign="bottom">
                <div class="moves">Moves&nbsp;<a href="#">1M</a>&nbsp;<a href="#">6M</a>&nbsp;<a href="#" class="active">1Y</a>&nbsp;<a href="#">all</a>
                </div></th>

              <th class="numeric" valign="bottom">Last price</th>

              <th colspan="2" class="col1" valign="bottom" style="padding: 0.5em 1em">
                <center>
                Availability<br>
                Buy&nbsp;/&nbsp;Sell
              </th>

              <th class="numeric" valign="bottom">
                Low
              </th>
              
              <th class="numeric" valign="bottom">
                <center>
                Pricing<br>
                Availability
              </th>
              <th class="numeric" valign="bottom" style="text-align: left">
                High
              </th>



              <th class="col3 share-table-actions"><span class="hide-mobile">Actions</span></th>

            </thead>

            <tbody>
              <tr>
                <td class="name company-igloo share-table-name">Igloo&nbsp;Energy<span class="update-blob">1</span></td>

                <td class="numeric share-table-valuation">£13m</td>

                <td class="sparkline numeric share-table-moves">
                  <span class="sparks dotline-medium">
                    {38,56,23,35,21,19,27,23,23,35,32,19,12,22}
                  </span>
                </td>

                <td class="numeric share-table-moves">+2.34%</td>

                <td class="numeric share-table-invested">£22<span class="pennies">.40</span></td>

                <td class="numeric share-table-shares">230</td>

                <td class="numeric share-table-shares" style="text-align: left">1120</td>

                


                <td class="numeric share-table-value">£22<span class="pennies">.92</span></td>

                <td class="share-price-overlap">
                    <img src="public/images/overlap-big-big.svg" height="32px">
                </td>

                <td class="numeric share-table-value">£22<span class="pennies">.92</span></td>

                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

                

              </tr>

              <tr>
                <td class="name company-abund share-table-name">Abundance Investment</td>

                <td class="numeric share-table-valuation">£16.9m</td>

                <td class="sparkline numeric share-table-moves">
                <span class="sparks dotline-medium">
                {68,56,43,35,51,39,27}
                </span>
                </td>

                <td class="numeric share-table-moves">-4.2%<span style="visibility: hidden">%</span></td>


                <td class="numeric share-table-invested">£45<span class="pennies">.23</span></td>

                <td class="numeric share-table-shares">3</td>

                <td class="numeric share-table-shares" style="text-align: left">30</td>

                


                <td class="numeric share-table-value">£44<span class="pennies">.68</span></td>

                <td class="share-price-overlap">
                    <img src="public/images/overlap-mid-mid-3.svg" height="32px">
                </td>

                <td class="numeric share-table-value">£44<span class="pennies">.68</span></td>


                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

                

              </tr>

              <tr>
                <td class="name company-macre share-table-name">MacRebeur</td>

                <td class="numeric share-table-valuation">£16.9m</td>

                <td class="sparkline numeric share-table-moves">
                  <span class="sparks dotline-medium">
                    {18,26,33,45,71}
                  </span>
                </td>

                <td class="numeric share-table-moves">-23.5%<span style="visibility: hidden">%</span></td>

                <td class="numeric share-table-invested">£104<span class="pennies">.22</span></td>

                <td class="numeric share-table-shares">3</td>

                <td class="numeric share-table-shares" style="text-align: left">30</td>

                

                <td class="numeric share-table-value">£44<span class="pennies">.68</span></td>

                <td class="share-price-overlap">
                    <img src="public/images/overlap-big-big-2.svg" height="32px">
                </td>

                <td class="numeric share-table-value">£44<span class="pennies">.68</span></td>


                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

                

              </tr>

              <tr>
                <td class="name company-den share-table-name">Den<span class="update-blob">2</span></td>

                <td class="numeric share-table-valuation">£8m</td>

                <td class="sparkline numeric share-table-moves">
                  <span class="sparks dotline-medium">
                    {9,10,23,18,26,33,45,71}
                  </span>
                </td>

                <td class="numeric share-table-moves">+12.3%<span style="visibility: hidden">%</span></td>


                <td class="numeric share-table-invested">£16<span class="pennies">.43</span></td>

                <td class="numeric share-table-shares">4</td>

                <td class="numeric share-table-shares" style="text-align: left">40</td>

               

                <td class="numeric share-table-value">£18<span class="pennies">.45</span></td>

                <td class="share-price-overlap">
                    <img src="public/images/overlap-sml-sml-3.svg" height="32px">
                </td>

                <td class="numeric share-table-value">£18<span class="pennies">.45</span></td>


                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

                
              </tr>

              <tr>
                <td class="name company-revol share-table-name">revolut</td>

                <td class="numeric share-table-valuation">£3.2B</td>

                <td class="sparkline numeric share-table-moves">
                  <span class="sparks dotline-medium">
                    {1,2,3,6,13,45,71}
                  </span>
                </td>

                <td class="numeric share-table-moves">-313.5%<span style="visibility: hidden">%</span></td>

                <td class="numeric share-table-invested">£22,040<span class="pennies">.44</span></td>

                <td class="numeric share-table-shares">102</td>

                <td class="numeric share-table-shares" style="text-align: left">1250</td>

                

                <td class="numeric share-table-value">£64<span class="pennies">.94</span></td>

                <td class="share-price-overlap">
                    <img src="public/images/overlap-big-big-3.svg" height="32px">
                </td>

                <td class="numeric share-table-value">£68<span class="pennies">.10</span></td>


                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

               
              </tr>

              <tr>
                <td class="name company-aduna share-table-name">Aduna</td>

                <td class="numeric share-table-valuation">£16m</td>

                <td class="sparkline numeric share-table-moves">
                  <span class="sparks dotline-medium">
                    {8,26,33,11}
                  </span>
                </td>

                <td class="numeric share-table-moves">-1.15%<span style="visibility: hidden">%</span></td>

                <td class="numeric share-table-invested">£201<span class="pennies">.22</span></td>

                <td class="numeric share-table-shares">320</td>

                <td class="numeric share-table-shares" style="text-align: left">120</td>

                

                <td class="numeric share-table-value">£17<span class="pennies">.97</span></td>

                <td class="share-price-overlap">
                    <img src="public/images/overlap-mid-mid-2.svg" height="32px">
                </td>

                <td class="numeric share-table-value">£18<span class="pennies">.97</span></td>

                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>


              </tr>

              <tr>
                <td class="name company-evento share-table-name">Eventopis</td>

                <td class="numeric share-table-valuation">£10.5m</td>

                <td class="sparkline numeric share-table-moves">
                  <span class="sparks dotline-medium">
                    {18,26,33,45,71}
                  </span>
                </td>

                <td class="numeric share-table-moves">+3.6%<span style="visibility: hidden">%</span></td>

                <td class="numeric share-table-invested">£450<span class="pennies">.50</span></td>

                <td class="numeric share-table-shares">50</td>

                <td class="numeric share-table-shares" style="text-align: left">150</td>

               

                <td class="numeric share-table-value">£46<span class="pennies">.72</span></td>

                <td class="share-price-overlap">
                    <img src="public/images/overlap-sml-sml.svg" height="32px">
                </td>

                <td class="numeric share-table-value">£48<span class="pennies">.72</span></td>


                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

                

              </tr>

              <tr>
                <td class="name company-fecana share-table-name">Fecana</td>

                <td class="numeric share-table-valuation">£16.6m</td>

                <td class="sparkline numeric share-table-moves">
                  <span class="sparks dotline-medium">
                    {18,26,33,45,71}
                  </span>
                </td>

                <td class="numeric share-table-moves">+7.6%<span style="visibility: hidden">%</span></td>

                <td class="numeric share-table-invested">£500<span class="pennies">.00</span></td>

                <td class="numeric share-table-shares">1400</td>

                <td class="numeric share-table-shares" style="text-align: left">820</td>

               


                <td class="numeric share-table-value">£53<span class="pennies">.00</span></td>

                <td class="share-price-overlap">
                    <img src="public/images/overlap-big-big-3.svg" height="32px">
                </td>

                <td class="numeric share-table-value">£58<span class="pennies">.00</span></td>


                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>


              </tr>


            </tbody>
          </table>





         

        </div>



  </div>
</div>

{% endblock %}
