
{% extends "layout_unbranded_mob.html" %}

{% block pageTitle %}
  Seedrs Design - homepage
{% endblock %}

{% block content %}

<style type="text/css">
  html, body {
  overflow-x: hidden;
}
body {
  //position: relative
}
  
  img {
    width: 380px;
    margin-left: -18px;
    margin-bottom: 20px;
  }

  #top {
    margin-top: 0px;
    position: fixed;
    top: 0;
  }
</style>


<link rel="stylesheet" type="text/css" href="/public/stylesheets/slick-mob.css">


<div class="govuk-grid-row" style="">
  <div class="govuk-grid-column-full">

    <div id="top">

      <img src="/public/images/seedrs-mobile-top.png">

    </div>

      <div id="column" style="position:relative;top:40px;padding-bottom:20px">




        <div id="card-carousel" class="slider mobcard-slick">

          <div id="about-slide-01">
            <div id="seedr-mob-slide-01">
              <img src="/public/images/mobile-caro01.png">
            </div>
          </div>


          <div id="about-slide-02">
            <div id="seedr-mob-slide-02">
              <img src="/public/images/mobile-caro02.png">
            </div>
          </div>


          <div id="about-slide-03">
            <div id="seedr-mob-slide-03">
              <img src="/public/images/mobile-caro03.png">
            </div>
          </div>


          <div id="about-slide-04">
            <div id="seedr-mob-slide-04">
              <img src="/public/images/mobile-caro04.png">
            </div>
          </div>


          <div id="about-slide-05">
            <div id="seedr-mob-slide-05">
              <img src="/public/images/mobile-caro05.png">
            </div>
          </div>


          <div id="about-slide-06">
            <div id="seedr-mob-slide-06">
              <img src="/public/images/mobile-caro06.png">
            </div>
          </div>


          <div id="about-slide-07">
            <div id="seedr-mob-slide-07">
              <img src="/public/images/mobile-caro07.png">
            </div>
          </div>


          <div id="about-slide-08">
            <div id="seedr-mob-slide-08">
              <img src="/public/images/mobile-caro08.png">
            </div>
          </div>


          <div id="about-slide-09">
            <div id="seedr-mob-slide-09">
              <img src="/public/images/mobile-caro09.png">
            </div>
          </div>


          <div id="about-slide-10">
            <div id="seedr-mob-slide-10">
              <img src="/public/images/mobile-caro10.png">
            </div>
          </div>


          <div id="about-slide-11">
            <div id="seedr-mob-slide-11">
              <img src="/public/images/mobile-caro11.png">
            </div>
          </div>


          <div id="about-slide-12">
            <div id="seedr-mob-slide-12">
              <img src="/public/images/mobile-caro12.png">
            </div>
          </div>


          <div id="about-slide-12">
            <div id="seedr-mob-slide-12">
              <img src="/public/images/mobile-caro12.png">
            </div>
          </div>

        </div>


      </div>


  </div>
</div>


{% endblock %}
