
{% extends "layout_unbranded_mob.html" %}

{% block pageTitle %}
  Seedrs Design - homepage
{% endblock %}

{% block content %}


<style type="text/css">
   html, body {
  overflow-x: hidden;
}
  .govuk-width-container {
    margin: 0;
  }
  .govuk-main-wrapper {
    padding-top: 0;
  }
  #top {
    margin-top: 0px;
    position: fixed;
    top: 0;
  }
</style>



<div id="top">

      <img src="/public/images/seedrs-mobile-top.png" style="width: 100%">

    </div>


<div class="demo">
  
  <div class="demo__content">
    <div class="demo__card-cont">
      <div class="demo__card">
        <img src="/public/images/mobile-caro01.png">

        <div class="demo__card__choice m--reject"></div>
        <div class="demo__card__choice m--like"></div>
        <div class="demo__card__drag"></div>
      </div>

      <div class="demo__card">
        <img src="/public/images/mobile-caro02.png">

        <div class="demo__card__choice m--reject"></div>
        <div class="demo__card__choice m--like"></div>
        <div class="demo__card__drag"></div>
      </div>

      <div class="demo__card">
        <img src="/public/images/mobile-caro03.png">

        <div class="demo__card__choice m--reject"></div>
        <div class="demo__card__choice m--like"></div>
        <div class="demo__card__drag"></div>
      </div>

      <div class="demo__card">
        <img src="/public/images/mobile-caro04.png">

        <div class="demo__card__choice m--reject"></div>
        <div class="demo__card__choice m--like"></div>
        <div class="demo__card__drag"></div>
      </div>

      <div class="demo__card">
        <img src="/public/images/mobile-caro05.png">

        <div class="demo__card__choice m--reject"></div>
        <div class="demo__card__choice m--like"></div>
        <div class="demo__card__drag"></div>
      </div>

      <div class="demo__card">
        <img src="/public/images/mobile-caro06.png">

        <div class="demo__card__choice m--reject"></div>
        <div class="demo__card__choice m--like"></div>
        <div class="demo__card__drag"></div>
      </div>

      <div class="demo__card">
        <img src="/public/images/mobile-caro07.png">

        <div class="demo__card__choice m--reject"></div>
        <div class="demo__card__choice m--like"></div>
        <div class="demo__card__drag"></div>
      </div>

      <div class="demo__card">
        <img src="/public/images/mobile-caro08.png">

        <div class="demo__card__choice m--reject"></div>
        <div class="demo__card__choice m--like"></div>
        <div class="demo__card__drag"></div>
      </div>

      <div class="demo__card">
        <img src="/public/images/mobile-caro09.png">

        <div class="demo__card__choice m--reject"></div>
        <div class="demo__card__choice m--like"></div>
        <div class="demo__card__drag"></div>
      </div>

      <div class="demo__card">
        <img src="/public/images/mobile-caro10.png">

        <div class="demo__card__choice m--reject"></div>
        <div class="demo__card__choice m--like"></div>
        <div class="demo__card__drag"></div>
      </div>

      <div class="demo__card">
        <img src="/public/images/mobile-caro11.png">

        <div class="demo__card__choice m--reject"></div>
        <div class="demo__card__choice m--like"></div>
        <div class="demo__card__drag"></div>
      </div>

      <div class="demo__card">
        <img src="/public/images/mobile-caro12.png">

        <div class="extracontent" style="margin:0 12px">

          <p>Additional content on the card to extend it downwards, so it can scroll off the page, and allow users to gain more insight before continuing to invest</p>

          <p>Additional content on the card to extend it downwards, so it can scroll off the page, and allow users to gain more insight before continuing to invest</p>

          <img src="http://placekitten.com/320/320">

          <p>Additional content on the card to extend it downwards, so it can scroll off the page, and allow users to gain more insight before continuing to invest</p>

          <img src="http://placekitten.com/520/320">

          <img src="http://placekitten.com/220/320">

          <p>Additional content on the card to extend it downwards, so it can scroll off the page, and allow users to gain more insight before continuing to invest</p>

          <p>Additional content on the card to extend it downwards, so it can scroll off the page, and allow users to gain more insight before continuing to invest</p>

        </div>

        <div class="demo__card__choice m--reject"></div>
        <div class="demo__card__choice m--like"></div>
        <div class="demo__card__drag"></div>
      </div>
      

    </div>
    <p class="demo__tip">Swipe left or right</p>
  </div>
</div>




{% endblock %}
