
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Seedrs Design - homepage
{% endblock %}

{% block content %}

<style type="text/css">
  
  img {
    width: 380px;
    margin-left: -18px;
    margin-bottom: 20px;
  }

  #top {
    margin-top: -20px;
    position: sticky;
    top: 0;
  }
</style>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div id="top">

      <img src="/public/images/seedrs-mobile-top.png">

    </div>

    <div id="column" style="max-width: 280px;margin-top: -26px">

      <img src="/public/images/mobile-caro01.png">

      <br>

      <img src="/public/images/mobile-caro02.png">

      <br>

      <img src="/public/images/mobile-caro03.png">

      <br>

      <img src="/public/images/mobile-caro04.png">

      <br>

      <img src="/public/images/mobile-caro05.png">

      <br>

      <img src="/public/images/mobile-caro06.png">

      <br>

      <img src="/public/images/mobile-caro07.png">

      <br>

      <img src="/public/images/mobile-caro08.png">

      <br>

      <img src="/public/images/mobile-caro09.png">

      <br>

      <img src="/public/images/mobile-caro10.png">

      <br>

      <img src="/public/images/mobile-caro11.png">

      <br>

      <img src="/public/images/mobile-caro12.png">

      <br>

      <img src="/public/images/mobile-caro13.png">

      <br>

      <img src="/public/images/mobile-caro14.png">

      <br>


      </div>



  </div>
</div>


{% endblock %}
