
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Seedrs Design - using Sofia Pro with numbers
{% endblock %}

{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="">

        <div class="table-title-block" id="portfolio-title-block">

          <h2 class="govuk-heading-m table-title">
            Portfolio
          </h2>

          <div class="table-tools">
            <span class="table-sort">Sort</span>

            <span class="table-filter">Filter</span>
          </div>

        </div>
        <!-- end table header block -->

        <div class="share-table">
          <table>
            <thead>
              <th class="col8">Investments&nbsp;<span class="updates-heading-blob">4</span><span class="updates-heading-label">updates</span></th>

              <th class="numeric col4">Invested</th>

              <th class="numeric col3 colgap">Shares</th>

              <th class="col1">&nbsp;</th>

              <th colspan="2" class="col7"><div class="moves">Moves <a href="#">1M</a> <a href="#">6M</a> <a href="#" class="active">1Y</a> <a href="#">all</a></div></th>

              <th class="numeric col4 colgap">Valuation</th>

              <th class="col1">&nbsp;</th>

              <th class="numeric col4 colgap">Total value</th>

              <th class="col1">&nbsp;</th>

              <th class="col3">Actions</th>

              <th class="col3">Buy/Sell</th>
            </thead>

            <tbody>
              <tr>
                <td class="name company-igloo">Igloo&nbsp;Energy<span class="update-blob">1</span></td>

                <td class="numeric">£22.40</td>

                <td class="numeric">1</td>

                <td>&nbsp;</td>

                <td class="sparkline numeric">
                  <span class="sparks dotline-medium">
                    {38,56,23,35,21,19,27,23,23,35,32,19,12,22}
                  </span>
                </td>

                <td class="numeric">+2.34%</td>

                <td class="numeric">£13m</td>

                <td>&nbsp;</td>

                <td class="numeric">£22.92</td>

                <td>&nbsp;</td>

                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

                <td>
                  
                </td>
              </tr>

              <tr>
                <td class="name company-abund">Abundance&nbsp;Investment</td>

                <td class="numeric">£45.23</td>

                <td class="numeric">3</td>

                <td>&nbsp;</td>

                <td class="sparkline numeric">
                  <span class="sparks dotline-medium">
                    {68,56,43,35,51,39,27}
                  </span>
                </td>

                <td class="numeric">-4.2%<span style="visibility: hidden">%</span></td>

                <td class="numeric">£16.9m</td>

                <td>&nbsp;</td>

                <td class="numeric">£44.68</td>

                <td>&nbsp;</td>

                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

                <td>
                  
                </td>
              </tr>

              <tr>
                <td class="name company-macre">MacRebeur</td>

                <td class="numeric">£104.22</td>

                <td class="numeric">3</td>

                <td>&nbsp;</td>

                <td class="sparkline numeric">
                  <span class="sparks dotline-medium">
                    {18,26,33,45,71}
                  </span>
                </td>

                <td class="numeric">-23.5%<span style="visibility: hidden">%</span></td>

                <td class="numeric">£16.9m</td>

                <td>&nbsp;</td>

                <td class="numeric">£44.68</td>

                <td>&nbsp;</td>

                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

                <td>
                  
                </td>
              </tr>

              <tr>
                <td class="name company-den">Den<span class="update-blob">2</span></td>

                <td class="numeric">£16.43</td>

                <td class="numeric">4</td>

                <td>&nbsp;</td>

                <td class="sparkline numeric">
                  <span class="sparks dotline-medium">
                    {9,10,23,18,26,33,45,71}
                  </span>
                </td>

                <td class="numeric">+12.3%<span style="visibility: hidden">%</span></td>

                <td class="numeric">£8m</td>

                <td>&nbsp;</td>

                <td class="numeric">£18.45</td>

                <td>&nbsp;</td>

                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

                <td>
                  
                </td>
              </tr>

              <tr>
                <td class="name company-revol">revolut</td>

                <td class="numeric">£22,040.44</td>

                <td class="numeric">102</td>

                <td>&nbsp;</td>

                <td class="sparkline numeric">
                  <span class="sparks dotline-medium">
                    {1,2,3,6,13,45,71}
                  </span>
                </td>

                <td class="numeric">-313.5%<span style="visibility: hidden">%</span></td>

                <td class="numeric">£3.2B</td>

                <td>&nbsp;</td>

                <td class="numeric">£6,9184.94</td>

                <td>&nbsp;</td>

                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

                <td>
                  
                </td>
              </tr>

              <tr>
                <td class="name company-aduna">Aduna</td>

                <td class="numeric">£201.22</td>

                <td class="numeric">12</td>

                <td>&nbsp;</td>

                <td class="sparkline numeric">
                  <span class="sparks dotline-medium">
                    {8,26,33,11}
                  </span>
                </td>

                <td class="numeric">-1.15%<span style="visibility: hidden">%</span></td>

                <td class="numeric">£16m</td>

                <td>&nbsp;</td>

                <td class="numeric">£174.97</td>

                <td>&nbsp;</td>

                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

                <td>
                  
                </td>
              </tr>

              <tr>
                <td class="name company-evento">Eventopis</td>

                <td class="numeric">£450.50</td>

                <td class="numeric">5</td>

                <td>&nbsp;</td>

                <td class="sparkline numeric">
                  <span class="sparks dotline-medium">
                    {18,26,33,45,71}
                  </span>
                </td>

                <td class="numeric">+3.6%<span style="visibility: hidden">%</span></td>

                <td class="numeric">£10.5m</td>

                <td>&nbsp;</td>

                <td class="numeric">£466.72</td>

                <td>&nbsp;</td>

                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

                <td>
                  
                </td>
              </tr>

              <tr>
                <td class="name company-fecana">Fecana</td>

                <td class="numeric">£500.00</td>

                <td class="numeric">10</td>

                <td>&nbsp;</td>

                <td class="sparkline numeric">
                  <span class="sparks dotline-medium">
                    {18,26,33,45,71}
                  </span>
                </td>

                <td class="numeric">+7.6%<span style="visibility: hidden">%</span></td>

                <td class="numeric">£16.6m</td>

                <td>&nbsp;</td>

                <td class="numeric">£538.00</td>

                <td>&nbsp;</td>

                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

                <td>
                  
                </td>
              </tr>


            </tbody>
          </table>





         

        </div>



  </div>
</div>

{% endblock %}
