
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Seedrs Design - using Sofia Pro with numbers
{% endblock %}

{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="">

        <div class="table-title-block" id="portfolio-title-block">

          <h2 class="govuk-heading-m table-title">
            Portfolio
          </h2>

          <div class="table-tools">
            <span class="table-sort">Sort</span>

            <span class="table-filter">Filter</span>
          </div>

        </div>
        <!-- end table header block -->

        <div class="share-table pangram-block">
          <table>
            <thead>
              <th class="share-table-name">Investments&nbsp;<span class="hide-mobile updates-heading-blob">4</span><span class="hide-mobile updates-heading-label">updates</span></th>

              <th class="numeric col4 share-table-invested">Invested</th>

              <th class="numeric col3 colgap share-table-shares">Shares</th>

              <th class="col1">&nbsp;</th>

              <th colspan="2" class="col7 share-table-moves"><div class="moves">Moves&nbsp;<a href="#">1M</a>&nbsp;<a href="#">6M</a>&nbsp;<a href="#" class="active">1Y</a>&nbsp;<a href="#">all</a></div></th>

              <th class="numeric col4 colgap share-table-valuation">Valuation</th>

              <th class="col1">&nbsp;</th>

              <th class="numeric col4 colgap share-table-value">Total value</th>

              <th class="col1">&nbsp;</th>

              <th class="col3 share-table-actions"><span class="hide-mobile">Actions</span></th>

              <th class="col3 share-table-buysell">Buy/Sell</th>
            </thead>

            <tbody>
              <tr>
                <td class="name company-igloo share-table-name">Igloo&nbsp;Energy<span class="update-blob">1</span></td>

                <td class="numeric share-table-invested">£22.40</td>

                <td class="numeric share-table-shares">1</td>

                <td class="col1">&nbsp;</td>

                <td class="sparkline numeric share-table-moves">
                  <span class="sparks dotline-medium">
                    {38,56,23,35,21,19,27,23,23,35,32,19,12,22}
                  </span>
                </td>

                <td class="numeric share-table-moves">+2.34%</td>

                <td class="numeric share-table-valuation">£13m</td>

                <td class="col1">&nbsp;</td>

                <td class="numeric share-table-value">£22.92</td>

                <td class="col1">&nbsp;</td>

                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

                <td class="share-table-buysell">
                  
                </td>
              </tr>

              <tr>
                <td class="name company-abund share-table-name">Abundance Investment</td>

                <td class="numeric share-table-invested">£45.23</td>

                <td class="numeric share-table-shares">3</td>

                <td class="col1">&nbsp;</td>

                <td class="sparkline numeric share-table-moves">
                  <span class="sparks dotline-medium">
                    {68,56,43,35,51,39,27}
                  </span>
                </td>

                <td class="numeric share-table-moves">-4.2%<span style="visibility: hidden">%</span></td>

                <td class="numeric share-table-valuation">£16.9m</td>

                <td class="col1">&nbsp;</td>

                <td class="numeric share-table-value">£44.68</td>

                <td class="col1">&nbsp;</td>

                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

                <td class="share-table-buysell">
                  
                </td>
              </tr>

              <tr>
                <td class="name company-macre share-table-name">MacRebeur</td>

                <td class="numeric share-table-invested">£104.22</td>

                <td class="numeric share-table-shares">3</td>

                <td class="col1">&nbsp;</td>

                <td class="sparkline numeric share-table-moves">
                  <span class="sparks dotline-medium">
                    {18,26,33,45,71}
                  </span>
                </td>

                <td class="numeric share-table-moves">-23.5%<span style="visibility: hidden">%</span></td>

                <td class="numeric share-table-valuation">£16.9m</td>

                <td class="col1">&nbsp;</td>

                <td class="numeric share-table-value">£44.68</td>

                <td class="col1">&nbsp;</td>

                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

                <td class="share-table-buysell">
                  
                </td>
              </tr>

              <tr>
                <td class="name company-den share-table-name">Den<span class="update-blob">2</span></td>

                <td class="numeric share-table-invested">£16.43</td>

                <td class="numeric share-table-shares">4</td>

                <td class="col1">&nbsp;</td>

                <td class="sparkline numeric share-table-moves">
                  <span class="sparks dotline-medium">
                    {9,10,23,18,26,33,45,71}
                  </span>
                </td>

                <td class="numeric share-table-moves">+12.3%<span style="visibility: hidden">%</span></td>

                <td class="numeric share-table-valuation">£8m</td>

                <td class="col1">&nbsp;</td>

                <td class="numeric share-table-value">£18.45</td>

                <td class="col1">&nbsp;</td>

                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

                <td class="share-table-buysell">
                  
                </td>
              </tr>

              <tr>
                <td class="name company-revol share-table-name">revolut</td>

                <td class="numeric share-table-invested">£22,040.44</td>

                <td class="numeric share-table-shares">102</td>

                <td class="col1">&nbsp;</td>

                <td class="sparkline numeric share-table-moves">
                  <span class="sparks dotline-medium">
                    {1,2,3,6,13,45,71}
                  </span>
                </td>

                <td class="numeric share-table-moves">-313.5%<span style="visibility: hidden">%</span></td>

                <td class="numeric share-table-valuation">£3.2B</td>

                <td class="col1">&nbsp;</td>

                <td class="numeric share-table-value">£6,9184.94</td>

                <td class="col1">&nbsp;</td>

                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

                <td class="share-table-buysell">
                  
                </td>
              </tr>

              <tr>
                <td class="name company-aduna share-table-name">Aduna</td>

                <td class="numeric share-table-invested">£201.22</td>

                <td class="numeric share-table-shares">12</td>

                <td class="col1">&nbsp;</td>

                <td class="sparkline numeric share-table-moves">
                  <span class="sparks dotline-medium">
                    {8,26,33,11}
                  </span>
                </td>

                <td class="numeric share-table-moves">-1.15%<span style="visibility: hidden">%</span></td>

                <td class="numeric share-table-valuation">£16m</td>

                <td class="col1">&nbsp;</td>

                <td class="numeric share-table-value">£174.97</td>

                <td class="col1">&nbsp;</td>

                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

                <td class="share-table-buysell">
                  
                </td>
              </tr>

              <tr>
                <td class="name company-evento share-table-name">Eventopis</td>

                <td class="numeric share-table-invested">£450.50</td>

                <td class="numeric share-table-shares">5</td>

                <td class="col1">&nbsp;</td>

                <td class="sparkline numeric share-table-moves">
                  <span class="sparks dotline-medium">
                    {18,26,33,45,71}
                  </span>
                </td>

                <td class="numeric share-table-moves">+3.6%<span style="visibility: hidden">%</span></td>

                <td class="numeric share-table-valuation">£10.5m</td>

                <td class="col1">&nbsp;</td>

                <td class="numeric share-table-value">£466.72</td>

                <td class="col1">&nbsp;</td>

                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

                <td class="share-table-buysell">
                  
                </td>
              </tr>

              <tr>
                <td class="name company-fecana share-table-name">Fecana</td>

                <td class="numeric share-table-invested">£500.00</td>

                <td class="numeric share-table-shares">10</td>

                <td class="col1">&nbsp;</td>

                <td class="sparkline numeric share-table-moves">
                  <span class="sparks dotline-medium">
                    {18,26,33,45,71}
                  </span>
                </td>

                <td class="numeric share-table-moves">+7.6%<span style="visibility: hidden">%</span></td>

                <td class="numeric share-table-valuation">£16.6m</td>

                <td class="col1">&nbsp;</td>

                <td class="numeric share-table-value">£538.00</td>

                <td class="col1">&nbsp;</td>

                <td><div class="tablebutton menuburger"><label>Menu</label></div></td>

                <td class="share-table-buysell">
                  
                </td>
              </tr>


            </tbody>
          </table>





         

        </div>



  </div>
</div>

{% endblock %}
