
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Seedrs Design - Dynamic pricing
{% endblock %}

{% block content %}




  <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">
      Dynamic pricing, deal tickets, etc
    </h2>

    <br clear="all">

    <p>What's the problem we are trying to avoid? <span style="color: #888">Click images to embiggen</span></p>

    <a href="/public/images/pricing01.jpg">
      <img src="/public/images/pricing01.jpg" width="100%" style="margin-left: -16px">

    <br>

    <a href="/public/images/pricing02.jpg">
      <img src="/public/images/pricing02.jpg" width="100%" style="margin-left: -16px">

    <br>

    <a href="/public/images/pricing03.jpg">
      <img src="/public/images/pricing03.jpg" width="100%" style="margin-left: -16px">

    <br>

    <a href="/public/images/pricing04.jpg">
      <img src="/public/images/pricing04.jpg" width="100%" style="margin-left: -16px">

    <br>

    <a href="/public/images/pricing05.jpg">
      <img src="/public/images/pricing05.jpg" width="100%" style="margin-left: -16px">
    </a>

    <br>

    <a href="/public/images/pricing06.jpg">
      <img src="/public/images/pricing06.jpg" width="100%" style="margin-left: -16px">
    </a>

    <br>

    <p>Ok, so how are we planning to solve this in context of the secondary market?</p>

    <a href="/public/images/tickets.png">
      <img src="/public/images/tickets.png" width="100%" style="margin-left: -10px">
    </a>



    <br>

    <a href="/public/images/tickets-buyer.png">
      <img src="/public/images/tickets-buyer.png" style="width: 150%;overflow: visible; margin-left: -10px">
    </a>


  </div>
</div>

{% endblock %}
