
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Seedrs Design - Dynamic pricing
{% endblock %}

{% block content %}




  <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">
      Dynamic pricing, deal tickets, etc
    </h2>

    <br clear="all">

    <p>What's the problem we are trying to avoid? <span style="color: #888">Click images to embiggen</span></p>

    <a href="/public/images/pricing01.jpg">
      <img src="/public/images/pricing01.jpg" width="100%" style="margin-left: -16px">

    <br>

    <a href="/public/images/pricing02.jpg">
      <img src="/public/images/pricing02.jpg" width="100%" style="margin-left: -16px">

    <br>

    <a href="/public/images/pricing03.jpg">
      <img src="/public/images/pricing03.jpg" width="100%" style="margin-left: -16px">

    <br>

    <a href="/public/images/pricing04.jpg">
      <img src="/public/images/pricing04.jpg" width="100%" style="margin-left: -16px">

    <br>

    <a href="/public/images/pricing05.jpg">
      <img src="/public/images/pricing05.jpg" width="100%" style="margin-left: -16px">
    </a>

    <br>

    <a href="/public/images/pricing06.jpg">
      <img src="/public/images/pricing06.jpg" width="100%" style="margin-left: -16px">
    </a>

    <br>

    <p>Ok, so how are we planning to solve this in context of the secondary market?</p>

    <a href="/public/images/tickets.png">
      <img src="/public/images/tickets.png" width="100%" style="margin-left: -10px">
    </a>



    <br>

    <a href="/public/images/tickets-buyer.png">
      <img src="/public/images/tickets-buyer.png" style="width: 150%;overflow: visible; margin-left: -10px">
    </a>

    <br>

    <div id="explain" style="max-width: 660px">

    <p>Deal ticket for buyers is about entering a quantity, seeing the best (cheapest) shares that are available to complete an order of that size. This may require multiple lots at rising prices, and convert the highest into a partial share lot.</p>

    <p><strong>Assumption:</strong> we don't need to provide a 'total' as splitting up sharelots (and shares) as required meets the amount entered by the buyer.</p>

    <p><strong>Process:</strong> share lots get bought up (reserved) by buyers, notification is sent to the sellers, approval results in a cleared-pending sale which gets acted on when the market opens.</p>
    
    <p>
    <ul style="font-size: 19px;color: rgb(11,12,12);font-weight: 400">
      <li>Why aren't we showing all of the market depth (all the offered shares to sell, in prices all the way up to high/unreasonable?)</li>
      <li>Would it help anything? What would be the benefit?</li>
      <li>You could potentially reveal that pricing by putting a large buy quantity in the box</li>
      <li>the large quantity might try and show all of the available shares/sharelots for sale to fulfill that buy request</li>
    </ul>
    </p>
  </div>


  </div>
</div>

{% endblock %}
