
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Seedrs Design - using Sofia Pro with numbers
{% endblock %}

{% block content %}


<p class="sofiasemibold">
  Sofia Pro Regular
</p>

<p class="sofia" style="background-color: #edf;line-height: 1.1;font-size: 100px">
  123456789.<span class="highlighted pennies-testpage">84</span><br>
  382288233.<span class="highlighted pennies-testpage">20</span><br>
  02749,<span class="highlighted">02932</span>,08923<br>
  09232,<span class="highlighted">14131</span>,20392<br>
</p>

<p class="sofiasemibold" style="border-top:4px solid yellow;padding-top:1em;margin-top: 2em">
  Using a custom font with 0-9 characters set with fixed width, and a 1 with feet
</p>

<p class="numbers" style="background-color: #def;line-height: 1.1;font-size: 100px">
    123456789.<span class="highlighted pennies-testpage">84</span><br>
  382288233.<span class="highlighted pennies-testpage">20</span><br>
  02749,<span class="highlighted">02932</span>,08923<br>
  09232,<span class="highlighted">14131</span>,20392<br>
</p>



{% endblock %}
