
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Seedrs Design - using Sofia Pro with numbers
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="pangram-block">
        <div style="padding-bottom: 4px">

          <h2 class="govuk-heading-m">
            Sofia Pro Regular
          </h2>

          <p class="para-l">
            24px | Do wafting &ldquo;zephyrs&rdquo; quickly vex Jumbo? Go, lazy fat vixen; be shrewd, jump quick.
          </p>

          <p class="para-m">
            18px | Do wafting &ldquo;zephyrs&rdquo; quickly vex Jumbo? Go, lazy fat vixen; be shrewd, jump quick. Fickle jinx bog <a href="#">dwarves spy math</a> quiz. Big dwarves heckle my top quiz of jinx.
          </p>

          <p class="para-s">
            14px | Do wafting &ldquo;zephyrs&rdquo; quickly vex Jumbo? Go, lazy fat vixen; be shrewd, jump quick. Fickle jinx bog <a href="#">dwarves spy math</a> quiz. Big dwarves heckle my top quiz of jinx.
          </p>

        </div>


        <div>

          <h2 class="govuk-heading-m" style="font-family: 'SofiaSemiBold', sans-serif;margin-top: -0.18em;margin-bottom: 28px;">
            Sofia Pro Semi Bold
          </h2>

          <p class="para-l sofiasemibold">
            24px | Do wafting &ldquo;zephyrs&rdquo; quickly vex Jumbo? Go, lazy fat vixen; be shrewd, jump quick.
          </p>

          <p class="para-m sofiasemibold">
            18px | Do wafting &ldquo;zephyrs&rdquo; quickly vex Jumbo? Go, lazy fat vixen; be shrewd, jump quick. Fickle jinx bog dwarves spy math quiz. Big dwarves heckle my top quiz of jinx.
          </p>

          <p class="para-s sofiasemibold" style="margin-top: -4px">
            14px | Do wafting &ldquo;zephyrs&rdquo; quickly vex Jumbo? Go, lazy fat vixen; be shrewd, jump quick. Fickle jinx bog <a href="#">dwarves spy math</a> quiz. Big dwarves heckle my top quiz of jinx.
          </p>
        </div>


        <div>
          <h2 class="govuk-heading-m">
            Sofia Pro Bold
          </h2>

          <p class="para-l"><b>
            24px | Do wafting &ldquo;zephyrs&rdquo; quickly vex Jumbo? Go, lazy fat vixen; be shrewd, jump quick.</b>
          </p>

          <p class="para-m"><b>
            18px | Do wafting &ldquo;zephyrs&rdquo; quickly vex Jumbo? Go, lazy fat vixen; be shrewd, jump quick. Fickle jinx bog <a href="#">dwarves spy math</a> quiz. Big dwarves heckle my top quiz of jinx.</b>
          </p>

          <p class="para-s"><b>
            14px | <span style="border-bottom:2px solid #c20">Don't use</span> as it gets too difficult to read <span style="text-decoration: line-through">quickly vex Jumbo? Go, lazy fat vixen; be shrewd, jump quick. Fickle jinx bog <a href="#">dwarves spy math</a> quiz. Big dwarves heckle my top quiz of jinx.</span></b>
          </p>
        </div>

      </div>

  </div>
</div>

{% endblock %}
